<div class="main-content">
    <div class="container-fluid">
      <div class="card">
          <div class="card-header card-header-success">
              <h3 class="card-title font-weight-bold">Asthma control questionnaires</h3>
              <h5 class="card-tile font-weight-bold">Questionnaire-based tools can be used to standardise review of asthma symptoms.</h5>
          </div>
          <div class="card-body">
              <div class="row">
              <div class="col-md-10 offset-md-1">
                <!-- Description -->
                  <h3 class="card-title">Primary care Asthma Control Screening tool (also known as Pharmacy Asthma Control Screening tool</h3>
                  <p>
                    A quick screening test to detect poor asthma control, developed and validated for use with Australian patients attending primary care
                  </p>
              
              </div>
              <div class="col-md-10 offset-md-1">
                <!-- Acordion Cards -->
                    <!-- Content -->
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-12 col-xl-12">
                        <!--Accordion wrapper-->
                        <div class="accordion md-accordion accordion-5" id="accordionEx2" role="tablist" aria-multiselectable="true">
                    
                        <!-- Accordion card 1 -->
                            <div class="card mb-5">
                    
                                <!-- Card header -->
                                <div class="card-header p-0 z-depth-1 " role="tab" id="heading1">
                                    <a class="text-success" data-toggle="collapse" data-parent="#accordionEx1" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                        <i class="fa fa-table fa-2x p-3 mr-4 float-left black-text" aria-hidden="true"></i>
                                        <h4 class="text-uppercase white-text mb-0 py-3 mt-1 font-weight-bold ">
                                            Good Control Asthma
                                        </h4>
                                        <i class="fa fa-arrow-down fa-2x p-2 mr-3 float-right black-text" aria-hidden="true"></i>
                                    </a>
                                </div>
                    
                                <!-- Card body -->
                                <div id="collapse1" class="collapse" role="tabpanel" aria-labelledby="heading1" data-parent="#accordionEx2">
                                    <div class="card-body rgba-black-light white-text z-depth-1">
                                    <!-- Survey Table -->
                                    <div class="tab-content">
                                    <div class="tab-pane active" id="control-screening-tools">
                                    <table class="table table-bordered">
                                      <tr class="card-header-primary justify-content-center">
                                        <th>Have you experienced any of the following more than the given timeframe?</th>
                                        <th>Yes</th>
                                        <th>No</th>
                                      </tr>
                                      <!-- Line 1 -->
                                      <tr>
                                      <td>Less than 2 times per week have Asthma symtoms at <strong>Daytime</strong></td>
                                      <td>
                                          <div class="form-check">
                                              <label class="form-check-label">
                                                  <input class="form-check-input" type="checkbox" value="">
                                                  <span class="form-check-sign">
                                                      <span class="check"></span>
                                                  </span>
                                              </label>
                                          </div>
                                      </td>
                                      <td>
                                          <div class="form-check">
                                              <label class="form-check-label">
                                                  <input class="form-check-input" type="checkbox" value="">
                                                  <span class="form-check-sign">
                                                      <span class="check"></span>
                                                  </span>
                                              </label>
                                          </div>
                                      </td>
                                      </tr>
                                      <!-- /Line 1 -->
                                      <!-- Line 2 -->
                                      <tr>
                                          <td>Less than 1 time per week have athma symptoms at <strong>Night time</strong> which caused sleep disruption</td>
                                          <td>
                                              <div class="form-check">
                                                  <label class="form-check-label">
                                                      <input class="form-check-input" type="checkbox" value="">
                                                      <span class="form-check-sign">
                                                          <span class="check"></span>
                                                      </span>
                                                  </label>
                                              </div>
                                          </td>
                                          <td>
                                              <div class="form-check">
                                                  <label class="form-check-label">
                                                      <input class="form-check-input" type="checkbox" value="">
                                                      <span class="form-check-sign">
                                                          <span class="check"></span>
                                                      </span>
                                                  </label>
                                              </div>
                                          </td>
                                          </tr>
                                          <!-- /Line 2 -->
                                          <!-- Line 3 -->
                                          <tr>
                                          <td><strong>None limitation in routine activities</strong> that can cause asthma symotoms</td>
                                          <td>
                                              <div class="form-check">
                                                  <label class="form-check-label">
                                                      <input class="form-check-input" type="checkbox" value="">
                                                      <span class="form-check-sign">
                                                          <span class="check"></span>
                                                      </span>
                                                  </label>
                                              </div>
                                          </td>
                                          <td>
                                              <div class="form-check">
                                                  <label class="form-check-label">
                                                      <input class="form-check-input" type="checkbox" value="">
                                                      <span class="form-check-sign">
                                                          <span class="check"></span>
                                                      </span>
                                                  </label>
                                              </div>
                                          </td>
                                          </tr>
                                          <!-- /Line 3 -->
                                          <!-- Line 4 -->
                                          <tr>
                                          <td><strong>Using relivers less than 2 times per week</strong> to control asthma symptoms</td>
                                          <td>
                                              <div class="form-check">
                                                  <label class="form-check-label">
                                                      <input class="form-check-input" type="checkbox" value="">
                                                      <span class="form-check-sign">
                                                          <span class="check"></span>
                                                      </span>
                                                  </label>
                                              </div>
                                          </td>
                                          <td>
                                              <div class="form-check">
                                                  <label class="form-check-label">
                                                      <input class="form-check-input" type="checkbox" value="">
                                                      <span class="form-check-sign">
                                                          <span class="check"></span>
                                                      </span>
                                                  </label>
                                              </div>
                                          </td>
                                          </tr>
                                          <!-- /Line 4 -->
                                          <!-- Line 5 -->
                                        <tr>
                                          <td>FEV or Peak flow is <strong>greater than or equal 80%</strong></td>
                                          <td>
                                              <div class="form-check">
                                                  <label class="form-check-label">
                                                      <input class="form-check-input" type="ratio" name="inlineRadioOptions" value="">
                                                      <span class="form-check-sign">
                                                          <span class="check"></span>
                                                      </span>
                                                  </label>
                                              </div>
                                          </td>
                                          <td>
                                              <div class="form-check">
                                                  <label class="form-check-label">
                                                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                                  <span class="form-check-sign">
                                                      <span class="check"></span>
                                                  </span>
                                                </label>
                                                </div>
                                          </td>
                                          </tr>
                                          <!-- /Line 5 -->
                                    </table>
                                    </div>
                                    </div>
                                    <!-- /Survey Table -->
                                    <div>
                                        <span class="font-weight-bold">Interpretation </span>
                                        : ‘Yes’ to more than 4 questions ( 80% ) indicates that the person may have goo controlled asthma. Otherwise
                                       more detailed assessment is needed. 
                                    </div>
                                    </div>
                                </div>
                            </div>
                        <!-- /Accordion card 1 -->
    
                        <!-- Accordion card 2 -->
                        <div class="card mb-5">
                    
                            <!-- Card header -->
                            <div class="card-header p-0 z-depth-1" role="tab" id="heading2">
                                <a class="text-warning" data-toggle="collapse" data-parent="#accordionEx2" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
                                    <i class="fa fa-table fa-2x p-3 mr-4 float-left black-text" aria-hidden="true"></i>
                                    <h4 class="text-uppercase white-text mb-0 py-3 mt-1 font-weight-bold">
                                        Partial Control Asthma
                                    </h4>
                                    <i class="fa fa-arrow-down fa-2x p-2 mr-3 float-right black-text" aria-hidden="true"></i>
                                </a>
                            </div>
                
                            <!-- Card body -->
                            <div id="collapse2" class="collapse" role="tabpanel" aria-labelledby="heading2" data-parent="#accordionEx2">
                                <div class="card-body rgba-black-light white-text z-depth-1">
                                <!-- Survey Table -->
                                <div class="tab-content">
                                <div class="tab-pane active" id="control-screening-tools">
                                <table class="table table-bordered">
                                  <tr class="card-header-primary justify-content-center">
                                    <th>Have you experienced any of the following more than the given timeframe?</th>
                                    <th>Yes</th>
                                    <th>No</th>
                                  </tr>
                                  <!-- Line 1 -->
                                  <tr>
                                  <td>Less than 2 times per week have Asthma symtoms at <strong>Daytime</strong></td>
                                  <td>
                                      <div class="form-check">
                                          <label class="form-check-label">
                                              <input class="form-check-input" type="checkbox" value="">
                                              <span class="form-check-sign">
                                                  <span class="check"></span>
                                              </span>
                                          </label>
                                      </div>
                                  </td>
                                  <td>
                                      <div class="form-check">
                                          <label class="form-check-label">
                                              <input class="form-check-input" type="checkbox" value="">
                                              <span class="form-check-sign">
                                                  <span class="check"></span>
                                              </span>
                                          </label>
                                      </div>
                                  </td>
                                  </tr>
                                  <!-- /Line 1 -->
                                  <!-- Line 2 -->
                                  <tr>
                                      <td>Less than 1 time per week have athma symptoms at <strong>Night time</strong> which caused sleep disruption</td>
                                      <td>
                                          <div class="form-check">
                                              <label class="form-check-label">
                                                  <input class="form-check-input" type="checkbox" value="">
                                                  <span class="form-check-sign">
                                                      <span class="check"></span>
                                                  </span>
                                              </label>
                                          </div>
                                      </td>
                                      <td>
                                          <div class="form-check">
                                              <label class="form-check-label">
                                                  <input class="form-check-input" type="checkbox" value="">
                                                  <span class="form-check-sign">
                                                      <span class="check"></span>
                                                  </span>
                                              </label>
                                          </div>
                                      </td>
                                      </tr>
                                      <!-- /Line 2 -->
                                      <!-- Line 3 -->
                                      <tr>
                                      <td><strong>None limitation in routine activities</strong> that can cause asthma symotoms</td>
                                      <td>
                                          <div class="form-check">
                                              <label class="form-check-label">
                                                  <input class="form-check-input" type="checkbox" value="">
                                                  <span class="form-check-sign">
                                                      <span class="check"></span>
                                                  </span>
                                              </label>
                                          </div>
                                      </td>
                                      <td>
                                          <div class="form-check">
                                              <label class="form-check-label">
                                                  <input class="form-check-input" type="checkbox" value="">
                                                  <span class="form-check-sign">
                                                      <span class="check"></span>
                                                  </span>
                                              </label>
                                          </div>
                                      </td>
                                      </tr>
                                      <!-- /Line 3 -->
                                      <!-- Line 4 -->
                                      <tr>
                                      <td><strong>Using relivers less than 2 times per week</strong> to control asthma symptoms</td>
                                      <td>
                                          <div class="form-check">
                                              <label class="form-check-label">
                                                  <input class="form-check-input" type="checkbox" value="">
                                                  <span class="form-check-sign">
                                                      <span class="check"></span>
                                                  </span>
                                              </label>
                                          </div>
                                      </td>
                                      <td>
                                          <div class="form-check">
                                              <label class="form-check-label">
                                                  <input class="form-check-input" type="checkbox" value="">
                                                  <span class="form-check-sign">
                                                      <span class="check"></span>
                                                  </span>
                                              </label>
                                          </div>
                                      </td>
                                      </tr>
                                      <!-- /Line 4 -->
                                      <!-- Line 5 -->
                                    <tr>
                                      <td>FEV or Peak flow is <strong>greater than or equal 80%</strong></td>
                                      <td>
                                          <div class="form-check">
                                              <label class="form-check-label">
                                                  <input class="form-check-input" type="ratio" name="inlineRadioOptions" value="">
                                                  <span class="form-check-sign">
                                                      <span class="check"></span>
                                                  </span>
                                              </label>
                                          </div>
                                      </td>
                                      <td>
                                          <div class="form-check">
                                              <label class="form-check-label">
                                              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                              <span class="form-check-sign">
                                                  <span class="check"></span>
                                              </span>
                                            </label>
                                            </div>
                                      </td>
                                      </tr>
                                      <!-- /Line 5 -->
                                </table>
                                </div>
                                </div>
                                <!-- /Survey Table -->
                                <div>
                                    <span class="font-weight-bold">Interpretation </span>
                                    : ‘Yes’ to more than 4 questions ( 80% ) indicates that the person may have goo controlled asthma. Otherwise
                                   more detailed assessment is needed. 
                                </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Accordion card 2 -->

                        <!-- Accordion card 3 -->
                        <div class="card mb-5">

                            <!-- Card header -->
                            <div class="card-header p-0 z-depth-1 " role="tab" id="heading3">
                                <a class="text-danger" data-toggle="collapse" data-parent="#accordionEx2" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
                                    <i class="fa fa-table fa-2x p-3 mr-4 float-left black-text" aria-hidden="true"></i>
                                    <h4 class="text-uppercase white-text mb-0 py-3 mt-1 font-weight-bold ">
                                        Good Control Asthma
                                    </h4>
                                    <i class="fa fa-arrow-down fa-2x p-2 mr-3 float-right black-text" aria-hidden="true"></i>
                                </a>
                            </div>
                
                            <!-- Card body -->
                            <div id="collapse3" class="collapse" role="tabpanel" aria-labelledby="heading3" data-parent="#accordionEx2">
                                <div class="card-body rgba-black-light white-text z-depth-1">
                                <!-- Survey Table -->
                                <div class="tab-content">
                                <div class="tab-pane active" id="control-screening-tools">
                                <table class="table table-bordered">
                                  <tr class="card-header-primary justify-content-center">
                                    <th>Have you experienced any of the following more than the given timeframe?</th>
                                    <th>Yes</th>
                                    <th>No</th>
                                  </tr>
                                  <!-- Line 1 -->
                                  <tr>
                                  <td>Less than 2 times per week have Asthma symtoms at <strong>Daytime</strong></td>
                                  <td>
                                      <div class="form-check">
                                          <label class="form-check-label">
                                              <input class="form-check-input" type="checkbox" value="">
                                              <span class="form-check-sign">
                                                  <span class="check"></span>
                                              </span>
                                          </label>
                                      </div>
                                  </td>
                                  <td>
                                      <div class="form-check">
                                          <label class="form-check-label">
                                              <input class="form-check-input" type="checkbox" value="">
                                              <span class="form-check-sign">
                                                  <span class="check"></span>
                                              </span>
                                          </label>
                                      </div>
                                  </td>
                                  </tr>
                                  <!-- /Line 1 -->
                                  <!-- Line 2 -->
                                  <tr>
                                      <td>Less than 1 time per week have athma symptoms at <strong>Night time</strong> which caused sleep disruption</td>
                                      <td>
                                          <div class="form-check">
                                              <label class="form-check-label">
                                                  <input class="form-check-input" type="checkbox" value="">
                                                  <span class="form-check-sign">
                                                      <span class="check"></span>
                                                  </span>
                                              </label>
                                          </div>
                                      </td>
                                      <td>
                                          <div class="form-check">
                                              <label class="form-check-label">
                                                  <input class="form-check-input" type="checkbox" value="">
                                                  <span class="form-check-sign">
                                                      <span class="check"></span>
                                                  </span>
                                              </label>
                                          </div>
                                      </td>
                                      </tr>
                                      <!-- /Line 2 -->
                                      <!-- Line 3 -->
                                      <tr>
                                      <td><strong>None limitation in routine activities</strong> that can cause asthma symotoms</td>
                                      <td>
                                          <div class="form-check">
                                              <label class="form-check-label">
                                                  <input class="form-check-input" type="checkbox" value="">
                                                  <span class="form-check-sign">
                                                      <span class="check"></span>
                                                  </span>
                                              </label>
                                          </div>
                                      </td>
                                      <td>
                                          <div class="form-check">
                                              <label class="form-check-label">
                                                  <input class="form-check-input" type="checkbox" value="">
                                                  <span class="form-check-sign">
                                                      <span class="check"></span>
                                                  </span>
                                              </label>
                                          </div>
                                      </td>
                                      </tr>
                                      <!-- /Line 3 -->
                                      <!-- Line 4 -->
                                      <tr>
                                      <td><strong>Using relivers less than 2 times per week</strong> to control asthma symptoms</td>
                                      <td>
                                          <div class="form-check">
                                              <label class="form-check-label">
                                                  <input class="form-check-input" type="checkbox" value="">
                                                  <span class="form-check-sign">
                                                      <span class="check"></span>
                                                  </span>
                                              </label>
                                          </div>
                                      </td>
                                      <td>
                                          <div class="form-check">
                                              <label class="form-check-label">
                                                  <input class="form-check-input" type="checkbox" value="">
                                                  <span class="form-check-sign">
                                                      <span class="check"></span>
                                                  </span>
                                              </label>
                                          </div>
                                      </td>
                                      </tr>
                                      <!-- /Line 4 -->
                                      <!-- Line 5 -->
                                    <tr>
                                      <td>FEV or Peak flow is <strong>greater than or equal 80%</strong></td>
                                      <td>
                                          <div class="form-check">
                                              <label class="form-check-label">
                                                  <input class="form-check-input" type="ratio" name="inlineRadioOptions" value="">
                                                  <span class="form-check-sign">
                                                      <span class="check"></span>
                                                  </span>
                                              </label>
                                          </div>
                                      </td>
                                      <td>
                                          <div class="form-check">
                                              <label class="form-check-label">
                                              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                              <span class="form-check-sign">
                                                  <span class="check"></span>
                                              </span>
                                            </label>
                                            </div>
                                      </td>
                                      </tr>
                                      <!-- /Line 5 -->
                                </table>
                                </div>
                                </div>
                                <!-- /Survey Table -->
                                <div>
                                    <span class="font-weight-bold">Interpretation </span>
                                    : ‘Yes’ to more than 4 questions ( 80% ) indicates that the person may have goo controlled asthma. Otherwise
                                    more detailed assessment is needed. 
                                </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Accordion card 3 -->
                        </div>
                        <!--/.Accordion wrapper-->
                      </div>
                    </div>
                    <!-- Content -->
                <!-- /Acordion Cards -->
              </div>
              <div class="col-md-10 offset-md-1">
                  <!-- Description -->
                    <h3 class="card-title">Do we have a conclusion?</h3>
                    <p>
                      ???
                    </p>
                
                </div>
              </div>
          </div>
          
          <!-- story button : floating butn -->
          <a href="#first" id="float-btn">
              <button type="button" class="btn btn-success btn-lg btn-circle btn-play faa-burst animated">
                  <span data-feather="play" class=""></span>
              </button>
          </a>
          
      </div>
    </div>
    </div>
    