<div class="main-content">
  <div class="container-fluid">
    <div class="card">
        <div class="card-header card-header-danger">
            <h3 class="card-title">Asthma control questionnaires</h3>
            <p class="card-category">Questionnaire-based tools can be used to standardise review of asthma symptoms.
            </p>
        </div>
        <div class="card-body">
            <div class="row">
                
              
            </div>
        </div>
        <div class="col-md-12">
            <div class="places-buttons">
                <div class="row">
                    
  
                </div>
            </div>
        </div>
    </div>
  </div>
  </div>
  